body {
    background: hsla(21, 43%, 65%, 1);
    background: linear-gradient(90deg, hsla(21, 43%, 65%, 1) 0%, hsla(22, 43%, 88%, 1) 29%, hsla(26, 100%, 95%, 1) 65%, hsla(48, 14%, 93%, 1) 82%, hsla(24, 43%, 76%, 1) 100%, hsla(60, 12%, 60%, 1) 100%, hsla(60, 12%, 68%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(21, 43%, 65%, 1) 0%, hsla(22, 43%, 88%, 1) 29%, hsla(26, 100%, 95%, 1) 65%, hsla(48, 14%, 93%, 1) 82%, hsla(24, 43%, 76%, 1) 100%, hsla(60, 12%, 60%, 1) 100%, hsla(60, 12%, 68%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(21, 43%, 65%, 1) 0%, hsla(22, 43%, 88%, 1) 29%, hsla(26, 100%, 95%, 1) 65%, hsla(48, 14%, 93%, 1) 82%, hsla(24, 43%, 76%, 1) 100%, hsla(60, 12%, 60%, 1) 100%, hsla(60, 12%, 68%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#cb997e", endColorstr="#eddcd2", GradientType=1 );
    font-family: Roboto, sans-serif;
    color: #3d495c;
    }
a {
    color:#3d495c;
}
h1{
    font-size: 3em;
    font-weight: 300;
    }
h2 {
    font-family: Montsserrat, sans-serif;
    font-size: 2em;
    font-weight: 100;
    }
.list_style1 {
    font-size: 1.05em;
    font-weight: bold;
    }
h3 {
    font-size: 1.6 em;
    font-weight: 400;
    font-family: Poppins;
    }
strong{
    color:darkcyan;
    }
p, li{
    line-height:7mm;
    }
.logo_elisa{
    position: absolute;
    max-width: 400px;
    top: 23%; 
    left: 50%;
    transform: translate(-50%, -50%);
    }
div:first-of-type{
    margin: -30px;
    background-color: white;    
    height: 400px;
    }
h2.Nome{
    text-align:center;
    }
.Imagem_div1{
    position: absolute;
    border-radius: 100%;
    margin-top: -10px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 100px;
    max-width: 300px;
    background-color: white;
    }
.titulo_descrição{
    padding-left: 550px;
    }
.descrição{
    padding-left: 550px;
    max-width: 400px;
    }
div ol li{
    font-family: Montserrat, sans-serif;
    font-weight: 550;
    display: inline;
    margin: 35px;
    margin-left: 100px;
    text-align: center;
}
div ol li a{
    text-decoration: none;
    }
div ol li a:hover{
    color: white;
}
div ol li a:active{
    font-weight: bolder;
    color: white;
}
div:nth-of-type(2){
    background-color: rgb(203, 153, 126);
    height: 50px;
    margin: -20px;
    margin-right: -35px;
    padding-top: 2px;
    padding-bottom: 3px;
}
div:nth-of-type(4){
    margin-left: 40px;
}
div:last-of-type{
    margin-left: 40px;
    display: inline-block;
}
#logo_link {
    width: 80px;
    padding-bottom: 40px;
}
#logo_git {
    width: 100px;
    padding-left: 20px;
    padding-bottom: 35px;
}